:root {
  color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
#grid,
.column {
    display: flex;
}

body {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grid {
    width: 545px;
    height: 545px;
    background-color: white;
}

.column {
    flex-direction: column;
}

.column,
.row {
    flex: 1;
}

button {
    margin-bottom: 8px;
    padding: 2px 8px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 4px;
}

.footer {
    padding: 12px;
}