html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
  color-scheme: light dark;
}

body,
.container,
.column {
    display: flex;
}

body {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefee2;
}

.container {
    width: 100vh;
    height: 100vh;
    background-color: #fefee2;
}

.column {
    flex-direction: column;
}

.column,
.row {
    flex: 1;
}

.container,
.row {
    border: 1px, solid black;
}

button {
    margin: 8px;
}

.footer {
    padding: 12px;
}