html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body,
.container,
.column {
    display: flex;
}

body {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vh;
    height: 100vh;
}

.column {
    flex-direction: column;
}

.column,
.row {
    flex: 1;
}

.container,
.row {
    border: 1px, solid;
}

button {
    margin-bottom: 8px;
    padding: 2px 12px;
    border: 2px solid;
    border-radius: 12px;
}